{
	"presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-runtimƒe",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ]
}